# Examples of working with NumPy arrays

In [1]:
import numpy as np

In [2]:
# sample of working with numpy arrays
lst = [[1, 2, 3], [4, 5, 6]]
ary1d = np.array(lst)
ary1d

array([[1, 2, 3],
       [4, 5, 6]])

In [3]:
ary1d.dtype

dtype('int32')

In [7]:
ary1d_int64 = ary1d.astype('int64')
ary1d_int64

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [58]:
np.array_equal(ary1d, ary1d_int64)

True

In [8]:
ary1d.itemsize

4

In [10]:
ary1d_int64.itemsize

8

In [11]:
ary1d.size

6

In [12]:
ary1d.ndim

2

In [18]:
scalar = np.array(5)
scalar.ndim

0

In [13]:
ary1d.shape

(2, 3)

In [14]:
np.add(ary1d, 1)

array([[2, 3, 4],
       [5, 6, 7]])

In [29]:
ary1d + 1

array([[2, 3, 4],
       [5, 6, 7]])

In [15]:
np.subtract(ary1d, 1)

array([[0, 1, 2],
       [3, 4, 5]])

In [30]:
ary1d - 1

array([[0, 1, 2],
       [3, 4, 5]])

In [16]:
np.multiply(ary1d, 2)

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [31]:
ary1d * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [17]:
np.divide(ary1d, 2)

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ]])

In [32]:
ary1d / 2

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ]])

In [33]:
ary1d ** 2

array([[ 1,  4,  9],
       [16, 25, 36]], dtype=int32)

In [28]:
np.exp(ary1d)

array([[  2.71828183,   7.3890561 ,  20.08553692],
       [ 54.59815003, 148.4131591 , 403.42879349]])

In [37]:
ary1d

array([[1, 2, 3],
       [4, 5, 6]])

In [35]:
np.add.reduce(ary1d)

array([5, 7, 9])

In [40]:
np.sum(ary1d)

21

In [39]:
np.sum(ary1d, axis=0)

array([5, 7, 9])

In [36]:
np.add.reduce(ary1d, axis=1)

array([ 6, 15])

In [41]:
np.sum(ary1d, axis=1)

array([ 6, 15])

In [43]:
np.multiply.reduce(ary1d, axis=1)

array([  6, 120])

In [42]:
np.product(ary1d, axis=1)

array([  6, 120])

In [44]:
np.mean(ary1d)

3.5

In [45]:
np.mean(ary1d, axis=1)

array([2., 5.])

In [46]:
np.std(ary1d, axis=1)

array([0.81649658, 0.81649658])

In [47]:
np.var(ary1d, axis=1)

array([0.66666667, 0.66666667])

In [48]:
np.sort(ary1d)

array([[1, 2, 3],
       [4, 5, 6]])

In [50]:
np.argsort(ary1d)

array([[0, 1, 2],
       [0, 1, 2]], dtype=int64)

In [54]:
np.min(ary1d, axis=1)

array([1, 4])

In [55]:
np.argmin(ary1d, axis=1)

array([0, 0], dtype=int64)

In [56]:
np.max(ary1d, axis=1)

array([3, 6])

In [57]:
np.argmax(ary1d, axis=1)

array([2, 2], dtype=int64)

In [60]:
ary1d

array([[1, 2, 3],
       [4, 5, 6]])

In [61]:
ary1d_int64

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [59]:
ary1d + ary1d_int64

array([[ 2,  4,  6],
       [ 8, 10, 12]], dtype=int64)

In [62]:
ary1d

array([[1, 2, 3],
       [4, 5, 6]])

In [19]:
np.ones((3, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [20]:
np.zeros((3, 3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [21]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [22]:
np.diag((3, 4, 5))

array([[3, 0, 0],
       [0, 4, 0],
       [0, 0, 5]])

In [23]:
np.arange(3., 7., 0.5)

array([3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5])

In [24]:
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])